artifacts/raw/
artifacts/processed/vector_db/
artifacts/processed/
artifacts/processed/chunks.csv
artifacts/processed/generator_df.csv
artifacts/retrieval/
artifacts/generator/
logs/
rag_genai.egg-info/
